form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
  width: 50%;
}

button {
  border: 1px solid grey;
  background-color: lightblue;
  width: 300px;
  padding: 5px;
  margin: 10px 0px;
}

#comment {
  border: 1px solid grey;
  padding: 10px;
  width: 40%;
  
}
